
.carder{
    border-radius: 0px;
    transition: all .4s ease-in-out;
    background-color: #233e62;
    border-color: black;
    font-size: 75%;

}
span{
    color: white;
}

.carder:hover{
    transform: scale(0.8);
    transform-origin: center center;
}
.carDim{
    width: 92%;
}