.image1 {
  background-image: url("../images/12.jpg");
}
.image2 {
  background-image: url("../images/8.jfif");
}
.image3 {
  background-image: url("../images/11.jfif");
}
.image4 {
  background-image: url("../images/10.jfif");
}
.image5 {
  background-image: url("../images/14.jpg");
}
.image6 {
  background-image: url("../images/13.jfif");
}
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 275px;
  position: relative;
  display: block;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.blog-entry {
  width: 100%;
  border: 4px solid #d1ebf9;
}

.bg-tarjeta {
  background-color: #dcdde1;
}

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px;
}
.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
}
.blog-entry .text .heading a {
  color: #000000;
}
.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
  color: #1b9ce3;
}
.blog-entry .text .meta-chat {
  color: #b3b3b3;
}
.text .read {
  color: #000000;
  font-size: 16px;
}
.blog-entry .meta-date {
  display: inline-block;
  background: #1b9ce3;
}
.blog-entry .meta-date span {
  display: block;
  color: #fff;
}
.blog-entry .meta-date .day {
  font-weight: 700;
  font-size: 20px;
}
.blog-entry .meta-date .mos,
.blog-entry .meta-date .yr {
  font-size: 13px;
}
.blog-entry .meta > div {
  display: block;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px;
}
.blog-entry .meta > div a {
  color: #b3b3b3;
  font-size: 13px;
}
.blog-entry .meta > div a:hover {
  color: #cccccc;
}