@keyframes carrusel-infinito {
  0%,
  12.5% {
    background-image: url("../images/2.jpg");
  }
  12.5%,
  25% {
    background-image: url("../images/12.jpg");
  }
  25%,
  37.5% {
    background-image: url("../images/image_5.jpg");
  }
  37.5% ,50%{
    background-image: url("../images/7.jpg");
  }
}
.slider {
  margin: auto;
  background: url("../images/2.jpg") no-repeat center;
  background-size: contain;
  -webkit-animation: carrusel-infinito 20s infinite 5s normal ease-out;
  animation: carrusel-infinito 20s infinite 5s normal ease-out;
}

.owl-carousel.home-slider {
  position: relative;
  height: 600px;
  z-index: 0;
}
.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}
.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.3;
}
.owl-carousel.home-slider .slider-item .slider-text {
  height: 600px;
}

.text {
  font-size: 60px;
  color: white;
  font-weight: 20px;
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}
